.app-nav {

    width: 100vw;
    z-index: 7;
    background-color: $medium-black;
    color: $whitish;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: 'Dosis', 'Roboto', 'san-serif';

    gap: 20px;
    height: 3em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 20px;
}