.instructions {
    color: $whitish;
    max-width: 860px;
    margin: 40px auto;
    line-height: 1.8;
    overflow-y: scroll;
    padding-inline: 20px;

    h2{
        font-weight: 500;
        margin-block: 40px 20px;
        font-size: 1.6rem;
    }
    h3{
        font-weight: 400;
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    p{
        margin-top: 12px;
        font-weight: 300;
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
        font-weight: 300;
    }

    .bold{
        font-weight: 500;
    }

    .color-map{
        li{
            span{
                padding: 3px;
                font-weight: 400;
                color: $dark-black;
            }
        }
    }
}